<div class='userEditPage'>
  <div class="edit-header">
    <div class="edit-header-content">アカウントを編集</div>
  </div>
  <div class='user-edit-container'>
    <%= form_for current_user, url: registration_path(current_user) do |f| %>
      <div class="sing-up-form-label-container">
        <label class="sing-up-form-label">名前</label>
      </div>
      <div class="edit-form-group">
        <%= f.text_field :name,:size=>"40", class: "form-control" %>
      </div>
      <div class="sing-up-form-label-container">
        <label class="sing-up-form-label">自己紹介</label>
      </div>
      <div class="edit-form-group">
        <%= f.text_area :self_introduction,:size=>"40", maxlength: "100",rows: "5", class: "form-control" %>
      </div>
      <div class="sing-up-form-label-container">
        <label class="sing-up-form-label">読書メーターURL(任意)</label>
      </div>
      <div class="edit-form-group">
        <%= f.text_area :bookmeter_id,:size=>"40", class: "form-control" %>
      </div>
      <div class="sing-up-form-label-container">
        <label class="sing-up-form-label">年齢(任意)</label>
      </div>
      <div class="edit-form-group">
        <%= f.text_area :age,:size=>"40", class: "form-control" %>
      </div>
      <div class="sing-up-form-label-container">
        <label class="sing-up-form-label">職業(任意)</label>
      </div>
      <div class="edit-form-group">
        <%= f.text_area :job,:size=>"40", class: "form-control" %>
      </div>
      <div class="sing-up-form-label-container">
        <label class="sing-up-form-label">性別(任意)</label>
      </div>
      <div class="edit-form-group">
        <%= f.text_area :sex,:size=>"40", class: "form-control" %>
      </div>
      <div class="sing-up-form-label-container">
        <label class="sing-up-form-label">更新するにはパスワードを入力してください</label>
      </div>
      <div class="edit-form-group">
        <%= f.password_field :current_password,:size=>"40", class: "form-control", autocomplete: "off" %>
      </div>
      <div class="text-center">
        <%= f.submit '更新', class: "btn submitBtn" %>
      </div>

    <% end %>
  </div>
</div>
