<%= form_for @sentence do |f| %>
 <div class="field">
   <%= f.label :タイトル %>
   <br>
   <%= f.text_field :title,size: 30 , placeholder:"メモをしたいタイトルを記入してください。"%>
   <br>
   <%= f.label :ページ %>
   <br>
   <%= f.number_field :page,size: 30 , placeholder:"メモをしたい一節のページ数を記入してください。"%>
   <br>
   <%= f.label :"一節" %>
   <br>
   <%= f.text_area :body,:size=>"45x10", maxlength: "150", rows: "5", class:"textarea-control" , placeholder:"お気に入りの一節を入力してください。"%>
   <br>
   <%= f.label :自由欄。他人に表示されません。 %>
   <br>
   <%= f.text_area :plus,:size=>"45x10", maxlength: "150", rows: "5", class:"textarea-control" , placeholder:"プライベートなメモをご記入ください。" %>
   <br>
   <%= f.label :出版社 %>
   <br>
   <%= f.text_field :publisher,size: 30, placeholder:"メモしたい本の出版社を記入してください。" %>
   <br>
   <%= f.label :筆者 %>
   <br>
   <%= f.text_field :author,size: 30, placeholder:"メモをしたい本の筆者を記入してください。" %>
   <br>
 </div>
 <div class="memo-submit">
   <%= f.submit"メモする", class: "btn submitBtn" %>
 </div>
<% end %>
