<%= @sentence.title %>
<br>
<%= @sentence.body %>
<br>
<% @items.each do |item| %>
  <tr>
  <td><img src="<%= item['smallImageUrls'][0] %>"></td>
  <td><%= link_to item.name, "#{item.url}" %></td>
  <td align="right"><%= number_with_delimiter(item.price) %>円</td>
  <%= item.genre_id%>
  <br>
  </tr>
<% end %>
