<% if current_user.id == @user.id %>
  <div class='userAction'>
      <div class="userAction_edit">
        <%= link_to(content_tag(:i, "", class: 'fas fa-edit fa-2x userActionlogo'), edit_user_registration_path) %>
        <span>プロフィールを編集</span>
      </div>
      <div class='userAction_logout'>
        <%= link_to(content_tag(:i, "", class: 'fas fa-cog fa-2x userActionlogo'), destroy_user_session_path, method: :delete) %>
        <span>ログアウト</span>
      </div>
  </div>
<% end %>


<div class='usershowPage'>
  <div class='container'>
    <div class='userInfo'>
      <div class='username'>名前:<%= @user.name %></div>
      <div class='userid'><%= @user.id %>人目のユーザーです。</div>
      <div class='userInfo_selfIntroduction'>自己紹介:<%= @user.self_introduction %></div>
      <br>
      <% if @user.self_introduction.blank? %>
        <div class="userInfo_selfIntroduction">自己紹介文は設定されていません。</div>
      <% end %>
    </div>
  </div>
</div>