<div class="post">
<%= link_to new_sentence_path, :method => :get do %>
  <i class="fas fa-edit memo">新しくメモする</i>
<% end %>
</div>
<br>


<div class=reaction-navi>
  <div class="posted">
    <p class="posted-navi">投稿したメモ</p>

      <% @sentences.each do |sentence| %>
        <div class="reac-container">
          <div class="title">
            <%= link_to sentence.title, sentence_path(sentence.id) %>
            (P.<%=sentence.page %>)
            <%= link_to "編集", edit_sentence_path(sentence.id) %>
          </div>
          <div class="sentencebox">
            <%=simple_format(sentence.body) %>
          </div>
          <div class="reac-sentences-subnavi">
            <div class="author">
              著者:<%=sentence.author %>
            </div>
            <div class="publisher">
              出版:<%=sentence.publisher %>
            </div>
            <div class="plus">
              プライベートメモ:<%=sentence.plus %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div class="liked">
      <p class="liked-navi">いいねしたメモ</p>

      <% @reacted_sentences.each do |sentence|%>
        <div class="reac-container">
          <div class="title">
            <%= link_to sentence.title, sentence_path(sentence.id) %>
            (P.<%= sentence.page %>)
          </div>
          <div class="sentencebox">
            メモした一節:<%=sentence.body %>
          </div>
          <div class="reac-sentences-subnavi">
            <div class="author">
              著者:<%=sentence.author %>
            </div>
            <div class="publisher">
              出版社:<%=sentence.publisher %>
            </div>
          </div>
      <% end %>

      </div>
    </div>
