<div class="Log-in">ログイン</div>
<%= render "devise/shared/links" %>

<div class="sing-in-form-label-container">
  <label class="sing-in-form-label">メールアドレス</label>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email,:size=>"40", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="sing-in-form-label-container">
      <label class="sing-in-form-label">パスワード</label>
    </div>
      <div class="field">
        <%= f.password_field :password,:size=>"40", autocomplete: "current-password" %>
      </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :パスワードを保存 %>
    </div>
  <% end %>
  <div class="text-center">
    <%= f.submit "ログイン", class: "btn submitBtn" %>
  </div>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div class="linkToRemakePass"><%= link_to "パスワードをお忘れですか？", new_password_path(resource_name) %></div>
  <% end %>
<% end %>
